td
{
    color: yellow;
}
body
{
    background: url(css%204.jpeg);
    background-size: cover;
    
}
.main
{
  width: 500px;
  margin: 100px auto 0px auto;
}
h1
{
    text-align: center;
    padding: 10px;
    font-family: sans-serif;
    color: white;
    background-color: orange;
    
}
.register
{
    background-color: black;
    width: 400px;
    height: 450px;
    font-size: 15px;
}
#register
{
    margin: 40px;
    
}
td
{
    font-family: sans-serif;
    font-size: 15px;
}